/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url(../src/assets/pngtree-real-estate-transaction-global-trade-data-image_8760.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
background-size: cover;
background-repeat: repeat;
background-blend-mode: multiply;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 50%;
align-content: center;
}
.card{
height: 250px;
margin-top: 50px;
margin-bottom: 100px;
width: 800px;
background-color:rgb(79, 69, 223) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 250px;
background-color: rgb(255, 0, 234);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.submit_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.submit_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}