<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; IIH GROUP OF HOSPITALS... </b></a>
    <span class="quote text-light">TRANSACTION DETAILS... </span>
    

    <br>
</nav>



<div class="container col-md-6 mt-2">
    <div class="card">
        
        <div class="card-body">
            <form>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">TRANSACTION CODE</span>
                    </div>

                    <select  #box name="tsc" class="form-control" placeholder="TRANSACTION CODE">
                    <option>SMSUFINYEL</option>
                    <option>SEQUBRIRT</option>

                    <option>SEQUYAGVIT</option>
                    <option>SEQUMICSYS</option>
                    <option>SEQUNMFBS4</option>
                    <option>SEQUWJ</option>
                    <option>SEQUVISFDT</option>

                    <option>SCSSET000000400</option>

                    <option>SEQUEVISAID</option>

                    <option>SEQUVID30M</option>


                    </select>



                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">DESCRIPTION</span>
                    </div>
                    
                    <input type="text" #box2 placeholder="DESCRIPTION" name="desc">

                
                </div>

            </form>
        </div>
    </div>
</div>
<div>
<div class="container col-md-4 mt-0">

    <button (click)="fetchdata(box.value,box2.value)">FETCH</button>



</div>
</div>

<div class="container col-md-4 mt-0" *ngIf="div1">





    <table id="table1" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">TRANSACTION CODE</th>
                <th scope="col">DESCRIPTION</th>


            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{displayVal1}}</td>

                <td>{{displayVal2}}</td>


            </tr>




        </tbody>
        <div>
            <div class="container col-md-4 mt-6">
    
        <button (click)="vanish()">OK</button> 
            </div>
    </div>
    
    </table>

</div>

