.table{
    height: 100px;
    margin-top: 100px;
    margin-bottom: 1200px;
    width: 600px;
    /* display: none; */
    /* background-color: rgba(0,0,0,0.7) !important; */
    background-color:skyblue;
    
    }
    .container{
        height: 28%;
        align-content: center;
        /* margin-left: 10px; */
        }
        .btn{
            color: black;
            background-color: #FFC312;
            width: 100px;
            margin-left: 700px;
            float: left;
    
            }
        